@use "../../var.scss" as *;

.game-container{
    @media screen and (min-width: 950px) {
    max-width: 900px;
    }

    @media screen and (max-width: 950px) {
        width: 90%;
    }

    .game-card {
        border-radius: $team-border-radius;
        box-shadow: $team-box-shadow;


        @media screen and (min-width: 950px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }


        &__title{
            grid-area: 1 / 1 / 2 / 2; 

            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;    
            text-align: center;
    
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 1rem;
            padding: 2rem;

            color: $fern-color-second;
        }

        &__image{
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 2rem;
    
            img {
                width: 100%;
            }
            
        }

        &__description{
            display: flex;

            align-items: center;
            justify-content: center;
            text-align: center;

            grid-area: 2 / 1 / 3 / 3; 
            font-size: 0.9rem;
            text-align: justify;    

            margin: 1rem;
            padding: 5rem;

            width: 100%

        }

        &__links{
            grid-area: 3 / 1 / 4 / 3; 
            display: flex;
            align-items: center;
            justify-content: flex-start;

            margin: 1rem;

            a{
                margin: 1rem;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;    

            }
        }
    }
}