@use "./variables.scss" as v;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@import url("./navbar.scss");

@import url("./page.scss");
@import url("./guessPanel.scss");

@import url("./footer.scss");
* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: v.$backgroundColor;
  color: v.$colorDefault;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: v.$themeColor2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: v.$themeColor2;
}

.page {
  display: grid;
  grid-template-columns: 300px 1fr;

  @media screen and (max-width: v.$mobileWidth) {
    display: block;
  }
}
