@use "./variables.scss" as v;

.pageContainer {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;

  .pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pageContent {
    .pageContentGuessGame {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pageFooter {
  }
}
